<div class = "header" id = "app-header">

    <div class = "logo">
        <p>Team 8 Final Project</p>
    </div>

    <div class = "menu">
        <button>Menu</button>
        <div class = "dropdown-menu">
            <ul>
                <li><a href = "dashboard.php">Dashboard</a></li>
                <li><a href = "budget.php">Update Budget</a></li>
                <li><a href = "userInfo.php">Account Info</a></li>               
                <li><a href = "logout.php">Log Out</a></li>
            </ul>
        </div>
    </div>

</div>