html, body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* header styling */
.header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(255, 186, 49);
    padding: 1%;
}
.header .logo {
    margin-right: 25px;
}

/* Dashboard styling */
.dash-banner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    width: 100%;
    height: 50px;
    border:2px;
    background-color: lightblue;
    padding: 2px;
    margin: 0px;
}
.dashboard-grid {
    padding: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.dashboard-grid .grid-section {
    border: solid 1px rgb(255, 186, 49);
    margin-right: 5%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.dashboard-grid .grid-section .grid-section-header {
    width: 100%;
    color: white;
    font-size: large;
    background-color: rgb(255, 186, 49);
}
.dashboard-grid .grid-section .grid-section-body {
    width: 100%;
    padding: 5%;
}
.rounded-container {
    display: flex;
    margin: 5px;
    justify-content: space-around;
    align-items: center;
    color: white;
    border-radius: 25px;
    padding: 5px;
    background-color: rgb(255, 186, 49);
    width: 90%;
}
.data-container {
    margin: auto;
    align-self: center;
}
#net-income {
    background-color: rgb(14, 170, 82);
}
#user-message {
    display: flex;
    align-items: center;
    margin: 5px;
    margin-top: 8vh;
    font-size: 20px;
}
#pie-chart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 8px;
    min-height: 30vh;
    border: 2px solid black;
    width: 80%;
    align-items: center;
}
.x-box {
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    background-color: lightblue;
    background:repeating-conic-gradient(
        from 0deg,
        #ff264a 0deg 20deg,
        #eedc12 20deg 120deg,
        #12CBC4 120deg 228deg,
        rgb(22, 185, 22) 228deg 300deg,
        rgb(126, 35, 229) 300deg 360deg
    );
}
.x-box-cont {
    font-size: 15px;
}
.x-box-cont h1{
    font-size: 15px;
}
.x-box-cont strong{
    display: block;
    margin-bottom: 5px;
}
#month-summary {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#income {
    width: 50%;
    align-items: center;
}
#expenses {
    width: 50%;
}

/* Application header styling */
#app-header .menu .dropdown-menu ul li {
    padding-top: 3px;
}
#app-header .menu .dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Main site header styling */
#main-header .nav-links ul {
    margin: 0;
}
#main-header .nav-links ul li {
    list-style: none;
    float: left;
    margin-left: 1rem;
}
#main-header {
    justify-content: space-between;
    padding-right: 3%;
    padding-left: 3%;
}

/* Drop-down menu styling */
.menu button {
    border: 0;
    background-color: transparent;
    color: rgb(255, 186, 49);
    font-size: large;
}
.dropdown-menu {
    position: absolute;
    display: none;
    padding: 10px;
    background-color: white;
    border: 1px solid rgb(255, 186, 49);
}
.menu:hover .dropdown-menu {
    display: block;
}

/* main styling */
main {
    padding: 2%;
}

/* footer styling */
.footer {
    padding: 1%;
    border-top: 1px solid rgb(255, 186, 49);
}
#main-footer {
    padding-right: 3%;
    padding-left: 3%;
}