html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* header styling */
.header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid orange;
    padding: 1%;
}
.header .logo {
    margin-right: 25px;
}
.header ul li {
    padding-top: 3px;
}
.header ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.header a {
    text-decoration: none;
    color: orange;
}
.header a:hover {
    font-weight: bold;
}

.menu button {
    border: 0;
    background-color: transparent;
    color: orange;
    font-size: large;
}
.dropdown-menu {
    position: absolute;
    display: none;
    padding: 10px;
    background-color: white;
    border: 1px solid orange;
}
.menu:hover .dropdown-menu {
    display: block;
}

/* main styling */
main {
    padding: 2%;
}

/* footer styling */
.footer {
    padding: 1%;
    border-top: 1px solid orange;
}